{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'brand/favicon/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'brand/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'brand/favicon/favicon-16x16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'brand/favicon/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'brand/favicon/site.webmanifest' %}">
<meta name="theme-color" content="#252c7f">
